In [ ]:
# default_exp core

# module name here

> API details.

In [ ]:
#hide
from nbdev.showdoc import *

In [25]:
# export

def assert_eq(a, b):
    assert a==b, f"{a} != {b}"

In [26]:
# export
import pandas as pd 

def pivot_vs(df, col, n=20, min_cnt=10):
    """pivot the counts a column horizontally to make it more readable
    
    https://twitter.com/TedPetrou/status/1287769454567456768
    """
    vc = df[col].value_counts()
    vc = vc[vc >= min_cnt]
    vcs = []
    for i in range(0, len(vc), n):
        cur_df = vc.iloc[i:i + n].reset_index()
        cur_df.columns = ['value', 'count']
        cur_df['rank'] = range(i + 1, i + len(cur_df) + 1)
        vcs.append(cur_df)
    return pd.concat(vcs, axis=1)

In [34]:
import seaborn as sns

df = pd.read_csv('../shared/DataAnalyst.csv', index_col=0)
df.head(2)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1

In [37]:
res = pivot_vs(df, 'Company Name', min_cnt=5)
res.head()

,value,count,rank,value,count,rank,value,count,rank
0,"Staffigo Technical Services, LLC\n5.0",58,1,Perficient\n3.6,6,21,Kforce Technology Staffing,5.0,41.0
1,Diverse Lynx\n3.9,22,2,Infotree Service Inc\n3.7,6,22,NaN,NaN,NaN
2,Kforce\n4.1,19,3,University of Pennsylvania\n4.3,5,23,NaN,NaN,NaN
3,Lorven Technologies Inc\n4.0,19,4,SGA Inc.,5,24,NaN,NaN,NaN
4,Robert Half\n3.5,14,5,Two95 International Inc.\n4.0,5,25,NaN,NaN,NaN

In [38]:
assert_eq(res.loc[:, 'value'].notna().sum().sum(), 41)
assert_eq(res.loc[:, 'value'].isna( ).sum().sum(), 19)

In [2]:
# export

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""

    def __init__(self, *args):
        self.args = args

    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                     for a in self.args)

    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                       for a in self.args)

In [7]:
import pandas as pd
df = pd.DataFrame({'a':1, 'b':2}, index=[0])
df

   a  b
0  1  2